/* Adicione estilos personalizados aqui */
/* Exemplo: */
body {
    font-family: 'Arial', sans-serif;
}

.header{
    background-image: url('imagens/logopqn.png');
    background-repeat: no-repeat;
    background-position: left, right;
    background-color: rgb(251, 255, 0);
}


.navbar{
    
}
    .navbar a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
    }

.navbar a :hover{
    color: yellow;
    text-transform: uppercase;
    }
    
.container {
    max-width: 800px;
}

.fotosescola{
    margin-top: 20px;
}

    .fotosescola img{
        margin-top: 15px;
        width: 95%;
    }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}




.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 50px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}