/* Adicione estilos personalizados aqui */
/* Exemplo: */
body {
    font-family: 'Arial', sans-serif;
}

.header{
    background-image: url('imagens/logopqn.png');
    background-repeat: no-repeat;
    background-position: left, right;
    background-color: rgb(251, 255, 0);
}


.navigation{

    
}
    .navigation a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
    }

    .navigation a:hover{
        color: yellow;
        text-transform: uppercase;
    }
    
.about{

    
}
.change{
    color: yellow;
    font-weight: bold;
    background-color: gray;
    border-radius: 10px;
    padding: 3px;
}

.fut{
    color: green;
    font-weight: bold;
    border-radius: 10px;
    padding: 3px;
    font-size: 17px;
}

.first{
    font-weight: bold;
}

.fotosescola{
    
}

    .fotosescola img{
        margin-left: 10px;
        margin-right: 10px;
        width: 400px;
        height: 400px;
        object-fit: fill;
    }

.buybutton{
    background-color: #ffee00; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s all;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}
    .buybutton:hover{
        background-color: #00ff08;
        color: rgb(0, 0, 0);
        padding: 25px 42px;
        font-size: 20px;
    }




.team{
    background-color:rgba(244, 247, 109, 0.788);
    font-weight: bold;
}

.equip{
    background: hsl(0, 0%, 0%);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
    .equip img{
      margin-top: 10px;
      height: 200px;
      flex-shrink: 0;
      border-radius: 556px;
    }
    .equip h4{
      margin-top: 10px;
      color: rgb(255, 255, 255);
    }
    .equip p{
        color:rgba(244, 247, 109, 0.788);
      }


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}




.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 50px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}